In [1]:
import pandas as pd

import seaborn as sns  
sns.set()

from statsmodels.stats.weightstats import ztest as ztest
from statsmodels.stats.weightstats import ttest_ind as ttest_ind

In [2]:
df = pd.read_csv('shoes.csv')
df.head(10)

,InvoiceNo,Date,Country,ProductID,Shop,Gender,Size (US),Size (Europe),Size (UK),UnitPrice,Discount,Year,Month,SalePrice
0,52389.0,1/1/2014,United Kingdom,2152.0,UK2,Male,11.0,44,10.5,$159.00,0%,2014,1,$159.00
1,52390.0,1/1/2014,United States,2230.0,US15,Male,11.5,44-45,11.0,$199.00,20%,2014,1,$159.20
2,52391.0,1/1/2014,Canada,2160.0,CAN7,Male,9.5,42-43,9.0,$149.00,20%,2014,1,$119.20
3,52392.0,1/1/2014,United States,2234.0,US6,Female,9.5,40,7.5,$159.00,0%,2014,1,$159.00
4,52393.0,1/1/2014,United Kingdom,2222.0,UK4,Female,9.0,39-40,7.0,$159.00,0%,2014,1,$159.00
5,52394.0,1/1/2014,United States,2173.0,US15,Male,10.5,43-44,10.0,$159.00,0%,2014,1,$159.00
6,52395.0,1/2/2014,Germany,2200.0,GER2,Female,9.0,39-40,7.0,$179.00,0%,2014,1,$179.00
7,52396.0,1/2/2014,Canada,2238.0,CAN5,Male,10.0,43,9.5,$169.00,0%,2014,1,$169.00
8,52397.0,1/2/2014,United States,2191.0,US13,Male,10.5,43-44,10.0,$139.00,0%,2014,1,$139.00
9,52398.0,1/2/2014,United Kingdom,2237.0,UK1,Female,9.0,39-40,7.0,$149.00,0%,2014,1,$149.00

In [3]:
df.shape

(14977, 14)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14977 entries, 0 to 14976
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   InvoiceNo      14967 non-null  float64
 1   Date           14971 non-null  object
 2   Country        14976 non-null  object
 3   ProductID      14976 non-null  float64
 4   Shop           14976 non-null  object
 5   Gender         14976 non-null  object
 6   Size (US)      14976 non-null  float64
 7   Size (Europe)  14976 non-null  object
 8   Size (UK)      14976 non-null  float64
 9   UnitPrice      14976 non-null  object
 10  Discount       14976 non-null  object
 11  Year           14976 non-null  object
 12  Month          14976 non-null  object
 13  SalePrice      14976 non-null  object
dtypes: float64(4), object(10)
memory usage: 1.6+ MB

# Define a problem statement to investigate with either t-test or z-test.

The CEO wants to know whether it was profitable to sell shoes in the US or Germany based on the previous data.

# Justify your test approach and selection of which test you will use.
We will approach the problem by comparison using hypothesis testing on the unit price of shoes between the US and Germany. According to economic principle of supply and demand, the higher demand equals higher prices. Since our unit price column well exceeds 30, we will use z test for hypothesis testing.

# Describe your dataset, including the columns that will support our analysis.
In order to conduct the analysis, we prepare the columns 'Country' and 'Unit Price.

In [5]:
df['Country'].unique()

array(['United Kingdom', 'United States', 'Canada', 'Germany', nan],
      dtype=object)

In [6]:
df[df['Country'].isna()]

,InvoiceNo,Date,Country,ProductID,Shop,Gender,Size (US),Size (Europe),Size (UK),UnitPrice,Discount,Year,Month,SalePrice
14967,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df.drop(14967, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14976 entries, 0 to 14976
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   InvoiceNo      14967 non-null  float64
 1   Date           14971 non-null  object
 2   Country        14976 non-null  object
 3   ProductID      14976 non-null  float64
 4   Shop           14976 non-null  object
 5   Gender         14976 non-null  object
 6   Size (US)      14976 non-null  float64
 7   Size (Europe)  14976 non-null  object
 8   Size (UK)      14976 non-null  float64
 9   UnitPrice      14976 non-null  object
 10  Discount       14976 non-null  object
 11  Year           14976 non-null  object
 12  Month          14976 non-null  object
 13  SalePrice      14976 non-null  object
dtypes: float64(4), object(10)
memory usage: 1.7+ MB

# Prep your data for analysis

Since the UnitPrice column is an object type, we will transform it into a numerical datatype to perform our hypothesis testing.

In [8]:
df.UnitPrice = df.UnitPrice.replace('[\$,]','', regex=True).astype(float)

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14976 entries, 0 to 14976
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   InvoiceNo      14967 non-null  float64
 1   Date           14971 non-null  object
 2   Country        14976 non-null  object
 3   ProductID      14976 non-null  float64
 4   Shop           14976 non-null  object
 5   Gender         14976 non-null  object
 6   Size (US)      14976 non-null  float64
 7   Size (Europe)  14976 non-null  object
 8   Size (UK)      14976 non-null  float64
 9   UnitPrice      14976 non-null  float64
 10  Discount       14976 non-null  object
 11  Year           14976 non-null  object
 12  Month          14976 non-null  object
 13  SalePrice      14976 non-null  object
dtypes: float64(5), object(9)
memory usage: 1.7+ MB

In [9]:
df.UnitPrice.describe()

count    14976.000000
mean       164.158921
std         22.941345
min        129.000000
25%        149.000000
50%        159.000000
75%        179.000000
max        199.000000
Name: UnitPrice, dtype: float64

In [10]:
sale_df = df.drop(['InvoiceNo', 'ProductID', 'Size (US)', 'Size (UK)'], axis=1)

In [11]:
sale_df.groupby('Country').describe()

               UnitPrice                                                     \
                   count        mean        std    min    25%    50%    75%
Country
Canada            2952.0  164.691057  23.458871  129.0  149.0  169.0  189.0
Germany           4401.0  164.121563  22.557804  129.0  149.0  159.0  179.0
United Kingdom    1737.0  165.614853  23.609917  129.0  149.0  169.0  189.0
United States     5886.0  163.490316  22.741654  129.0  139.0  159.0  179.0


                  max
Country
Canada          199.0
Germany         199.0
United Kingdom  199.0
United States   199.0

In [12]:
US_price = sale_df[sale_df.Country == 'United States'].UnitPrice
US_price.head()

1     199.0
3     159.0
5     159.0
8     139.0
10    129.0
Name: UnitPrice, dtype: float64

In [13]:
GER_price = sale_df[sale_df.Country == 'Germany'].UnitPrice
GER_price.head()

6     179.0
14    169.0
15    179.0
24    149.0
25    149.0
Name: UnitPrice, dtype: float64

# Define a H0/H1 couplet to support your problem statement.

H0: there is no difference in the unit price of shoes between US and Germany.

H1: there is a difference in the unit price of shoes between US and Germany.

# Conduct your hypothesis testing

Since the p-value is higher than the alpha, we accept the null hypothesis. Therefore, our analysis tells us there's no difference in the unit price of shoes between the US and Germany. However, we want to delve deeper into the problem statement. The unit price is not the best indicator of profitability.

In [14]:
zstat_price, pval_price = ztest(US_price, GER_price, value=0, alternative='two-sided') 
print(f'z-test statistic: {zstat_price}, p-value: {pval_price}')

z-test statistic: -1.3977195190983525, p-value: 0.16219731042724106

In [15]:
alpha = .05

if pval_price < alpha:   
   print('Reject null hypothesis')
else:
  print('Accept null hypothesis')

Accept null hypothesis

# Redefine your H0/H1 couplet to dive deeper into the analysis

If we look at our dataset columns, we have a discount column which decreases the profibability of sales. Therefore, we change the indicator of profitability of shoes to sales price.

In [30]:
sale_df.SalePrice = df.SalePrice.replace('[\$,]','', regex=True).astype(float)

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14976 entries, 0 to 14976
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   InvoiceNo      14967 non-null  float64
 1   Date           14971 non-null  object
 2   Country        14976 non-null  object
 3   ProductID      14976 non-null  float64
 4   Shop           14976 non-null  object
 5   Gender         14976 non-null  object
 6   Size (US)      14976 non-null  float64
 7   Size (Europe)  14976 non-null  object
 8   Size (UK)      14976 non-null  float64
 9   UnitPrice      14976 non-null  float64
 10  Discount       14976 non-null  object
 11  Year           14976 non-null  object
 12  Month          14976 non-null  object
 13  SalePrice      14976 non-null  float64
dtypes: float64(6), object(8)
memory usage: 1.7+ MB

In [31]:
US_sales = sale_df[sale_df.Country == 'United States'].SalePrice
US_sales.head()

1     159.2
3     159.0
5     159.0
8     139.0
10    129.0
Name: SalePrice, dtype: float64

In [32]:
GER_sales = sale_df[sale_df.Country == 'Germany'].SalePrice
GER_sales.head()

6     179.0
14     84.5
15    143.2
24    119.2
25    119.2
Name: SalePrice, dtype: float64

H0: there is no difference in the sales amount of shoes between US and Germany.

H1: there is a difference in the sales amountt shoes between US and Germany.

In [33]:
zstat_sales, pval_sales = ztest(US_sales, GER_sales, value=0, alternative='two-sided') 
print(f'z-test statistic: {zstat_sales}, p-value: {pval_sales}')

z-test statistic: 0.2551593077494768, p-value: 0.7986000587158817

In [34]:
# alpha value is 0.05 or 5%
alpha = .05

# evaluation of p-value
if pval_sales < alpha:   
   print('Reject null hypothesis')
else:
  print('Accept null hypothesis')

Accept null hypothesis